/* General Styles */
body {
  font-family: 'Montserrat', sans-serif,'Quicksand';
  box-sizing: border-box;
  background-color: #ecf0f1;
  color: #2c3e50;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e74c3c;
  text-decoration: none;
}

/* Header Styles */
header {
  background-color: #2980b9;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 40px;
  font-size: 20px;
}

nav {
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #2980b9;
  padding: 15px 0;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

/* Section Styles */
.section {
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

section h2 {
  color: #2980b9;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

/* Footer Styles */
footer {
  background: linear-gradient(to right, #34495e, #2c3e50);
  color: #fff;
  text-align:
center;
padding: 20px 0;
width: 100%;
}

/* Content Styles */
.work-header, .train, .proj-entry, .contact-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.work-entry, .responsibility, .education-entry, .training, .project, #additional, .contact-container {
flex: 1;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
background-color: #fff;
margin: 15px;
}

h2 {
text-align: center;
margin-bottom: 20px;
}

/* Skill Item Styles */
.skill-item {
position: relative;
display: inline-block;
margin: 20px;
padding: 10px;
border-radius: 5px;
font-family: 'Quicksand', sans-serif;
width: 200px;
height: 100px;
background-color: #2980b9;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}

.skill-item:hover {
transform: scale(1.05);
}

.popup-box {
display: none;
position: absolute;
bottom: 75%;
transform: translateX(-50%);
width: 220px;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
z-index: 1000;
}

.item-box{
  height: 70px;
  width: 70px;
}

.item{
  width: 200px;
  padding: 10px;
  background-color: #2980b9;
  margin: 2px;
  border-radius: 10px;
}

.skill-item:hover .popup-box {
display: block;
animation: popup-animation 0.7s forwards;
}

@keyframes popup-animation {
0% {
opacity: 0;
transform: translateY(20px) scale(0.8);
}
100% {
opacity: 1;
transform: translateY(0) scale(1);
}
}

ul.skills-list {
list-style-type: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

/* Fade-in Animation */
@keyframes fadeIn {
from {
opacity: 0;
transform: translateY(20px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

.animated-section {
opacity: 0;
transform: translateY(20px);
transition: opacity 2s, transform 2s;
}

.animated-section.in-view {
opacity: 1;
transform: translateY(0);
}



/* Contact Styles */
.contact {
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 600px;
  margin: 40px auto;
  font-family: 'Quicksand', sans-serif;
  color: #2c3e50;
}

.contact h1 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
  color: #2980b9;
}

.contact p {
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.contact input[type="submit"] {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.contact input[type="submit"]:hover {
  background-color: #27ae60;
}

.contact p:last-child {
  margin-top: 20px;
  color: #95a5a6;
  font-size: 0.9em;
}
